{{#each styles}}

  {{#if ../wrapped}}
    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        {{ ../_self.title }} ({{style}})
        {{#if disabled}}(Disabled){{/if}}
      </h3>
  {{/if}}

  {{#each ../types}}

      <button
        class="button button--{{type}}
        {{#if ../../modifier}} button--{{../../modifier}} {{/if}}
        {{#if ../../multi}} button--multi-action {{/if}}
        {{#if (eq ../style "small")}} button--small {{/if}}"
        {{#if (eq ../style "disabled")}} disabled {{/if}}
      >

        {{#if ../../icon}}
          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>
        {{/if}}

        {{ ../../text }} {{ ../style }} {{ type }}

        {{#if ../../multi}}
          <span class="button__action">
            <svg class="button__icon" viewBox="0 0 32 32"
              role="presentation">
              <circle cx="16" cy="16" fill="none" r="14"
                stroke="currentColor" stroke-width="2" />
            </svg>
          </span>
        {{/if}}

      </button>

  {{/each}}

  {{#if ../wrapped}}
    </div>
  {{/if}}

{{/each}}
