<ul class="sidebar-list">

  <li class="sidebar-list__item sidebar-list__item--folder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folders"}/>
    </svg>
    All
    <span class="sidebar-list__count">245</span>
  </li>

  <li class="sidebar-list__item sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folders"}/>
    </svg>
    Label
  </li>

  <li class="sidebar-list__item sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folders"}/>
    </svg>
    Label
  </li>

  <li class="sidebar-list__item sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folders"}/>
    </svg>
    Label
  </li>

  <li class="sidebar-list__item sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folders"}/>
    </svg>
    Label
  </li>

  <li class="sidebar-list__item sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folder"}/>
    </svg>
    Label
  </li>

  <li class="sidebar-list__item sidebar-list__item--folder sidebar-list__item sidebar-list__item--subfolder">
    <svg class="sidebar-list__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#folder"}/>
    </svg>
    Label
  </li>

</ul>
