<main {{#if theme}} data-color-theme="{{theme}}" {{/if}}>
  <div class="brand-bg">
    {{#if (eq _self.name "questys")}}
      <div class="brand-bg__logo brand-bg__logo--questys">
        <svg class="brand-bg__logotext" role="img">
          <title>questys</title>
          <use xlink:href="{{path '/svg/svg.svg' }}#questys-logo" aria-hidden="true"></use>
        </svg>
      </div>
    {{else}}
      <div class="brand-bg__logo brand-bg__logo--cs">
        <svg class="brand-bg__icon" aria-hidden="true">
          <use xlink:href="{{path '/svg/svg.svg' }}#logo-cs-tree"></use>
        </svg>
        <svg class="brand-bg__logotext" role="img">
          <title>CitySuite</title>
          <use xlink:href="{{path '/svg/svg.svg' }}#logo-cs-name" aria-hidden="true"></use>
        </svg>
      </div>
    {{/if}}
  </div>
</main>
