<nav class="page-menu">

  <h3 class="page-menu__heading">Profile</h3>

  <ul>

    <li>
      <a href="#" class="page-menu__link is-active">
        Dashboard
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Benefits
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Demographics
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

  </ul>

  <h3 class="page-menu__heading">Career</h3>

  <ul>

    <li>
      <a href="#" class="page-menu__link">
        Assignments
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Education
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Pay
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Performance
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Rewards &amp; Recognition
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Time
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Training
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

  </ul>

</nav>
