<nav class="page-menu">

  <h3 class="page-menu__heading">Section Title</h3>

  <ul>

    <li>
      <a href="#" class="page-menu__link is-active">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

  </ul>

  <h3 class="page-menu__heading">Section Title</h3>

  <ul>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

    <li>
      <a href="#" class="page-menu__link">
        Label
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--arrow-right" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#arrow-right' }}" />
        </svg>
        <svg class="navbar__sub-menu__icon navbar__sub-menu__icon--check" role="presentation">
          <use xlink:href="{{ path '/svg/svg.svg#check' }}" />
        </svg>
      </a>
    </li>

  </ul>

</nav>
